.card{
    background-color: #FFFFFF;
    display: block;
    border-radius: 4px;
    width: 1140px;
    height: 88px;
    box-shadow: 0px 0px 5px #00000033;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr;
    grid-template-areas: 
        "card-thumbnail-and-name character-card-series character-card-events";
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 8px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

.card-thumbnail-and-name{
    display: flex;
    grid-area: card-thumbnail-and-name;
    flex-direction: row;
}

.card-thumbnail{
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 20px;
    height: 48px;
    width: 48px;
}

.character-card-name{
    align-self: center;
    font-family: 'PTSans-Bold';
    font-size: 16px;
    margin-left: 24px;
}

.character-card-series{
    font-family: 'PTSans-Regular';
    font-size: 14px;
    grid-area: character-card-series;
}

.character-card-events{
    font-family: 'PTSans-Regular';
    font-size: 14px;
    grid-area: character-card-events;
}

p{
    margin: 0;
    color: #555;
}

@media(max-width: 375px){
    .card{
        display: flex;
        margin-left: 24px;
        height: 72px;
        width: 327px;
    }

    .card-thumbnail-and-name{
        width: 100%;
        grid-area: card-thumbnail-and-name;
        flex-direction: row;
    }

    .character-card-name{
        font-size: 14px;
    }

    .card-thumbnail{
        border-radius: 4px;
        margin-top: 12px;
        margin-left: 16px;
        margin-bottom: 12px;
        height: 48px;
        width: 48px;
    }

    .character-card-series{
        width: 0px;
        visibility: hidden;
    }
    
    .character-card-events{
        width: 0px;
        visibility: hidden;
    }
}