:root{
    --page-brightness: 100%;
    --overflow-bar: auto;
}

html{
    filter: brightness(var(--page-brightness));
    overflow: var(--overflow-bar);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
::-webkit-scrollbar-track {

    background: #333; 
  }
   
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px #FFF; 
  }

::-webkit-scrollbar-thumb:hover {
    background: #444; 
}

@font-face {
    font-family: 'PTSansCaption-Bold';
    src: local('PTSansCaption-Bold'),
         url('./assets/fonts/PTSansCaption-Bold.ttf') format('woff');
}

@font-face {
    font-family: 'PTSansCaption-Regular';
    src: local('PTSansCaption-Regular'),
         url('./assets/fonts/PTSansCaption-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'PTSans-Regular';
    src: local('PTSans-Regular'),
         url('./assets/fonts/PTSans-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'PTSans-Italic';
    src: local('PTSans-Italic'),
         url('./assets/fonts/PTSans-Italic.ttf') format('woff');
}
@font-face {
    font-family: 'PTSans-Bold';
    src: local('PTSans-Bold'),
         url('./assets/fonts/PTSans-Bold.ttf') format('woff');
}