.slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cover-image{
    width: 180px;
    height: 250px;
}

.slide-arrow{ 
    display: flex;
    margin: 20px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
